{% extends 'backend/base_dashboard.html' %}
{% block sidebar %}
  {% include 'backend/sidebar.html' %}
{% endblock %}
{% block content %}
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <!-- <h3>Contacts Design</h3> -->
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-4"></div>
          <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="input-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="button" style="background-color:#228B22" class="btn btn-primary" ><i class="fa fa-search"></i></button>
              </span>
          </div>
          </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                <p align="right"><a href="#" style="background-color:#228B22" class="btn btn-round btn-primary" id="showadd" data-target='#addModal' data-toggle='modal' onclick="tes()"><i class="fa fa-plus"></i></a></p>
            </div>
            <div class="clearfix"></div>
            <br>
            {% for user_mgt in user_managements %}
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
              <div class="well profile_view">
                <div class="col-sm-12 text-center">
                  <img src="/media/{{user_mgt.profile_picture}}" alt="" class="img-circle" style="width: 125px; height: 125px">
                </div>
                <div class="col-sm-12">
                  <h2> {{user_mgt.full_name}} </h2>
                  <p> <strong> Email :</strong> {{user_mgt.user.email}} </p>
                  <p><strong> Active Date :</strong> {{user_mgt.user.date_joined|date:'d/m/Y'}}</p>
                </div>
                <div class="col-xs-12 bottom text-right">
                  <div class="col-xs-12 col-sm-6 emphasis"></div>
                  <div class="col-xs-12 col-sm-6 emphasis">
                    <button type="button" style="background-color:#228B22" data-toggle="modal" data-target="#editModal" class="btn btn-primary btn-xs">
                      <i class="fa fa-user"> </i> View Profile
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="row">
              <div class="col-xs-12">
                <div class="demo">
                  <nav class="pagination pagination_type1 pagination_type3">
                    <ol class="pagination__list">
                      <li class="pagination__group"><a href="#0" class="pagination__item pagination__control pagination__control_prev">prev</a></li>
                      <li class="pagination__group"><a href="#0" class="pagination__item">1</a></li>
                      <li class="pagination__group"><span class="pagination__item pagination__item_active">2</span></li>
                      <li class="pagination__group"><a href="#0" class="pagination__item">3</a></li>
                      <li class="pagination__group"><a href="#0" class="pagination__item pagination__control pagination__control_next">next</a></li>
                    </ol>
                  </nav>
                </div> 
              </div>
            </div>

  <!-- modal add data -->
  <div class="modal fade" id="addModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registration User BO</h4>
      </div>  
    <div class="modal-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Profile</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">

          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Full Name<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    {{form.full_name}}
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    {{form.email}}
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile Phone<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    {{form.mobile_phone}}
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Picture<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    {{form.profile_picture}}
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required"></span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <img id="image-preview_pp" alt="image preview"/>
                </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Password<span class="required"></span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                {{form.password}}
                </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipe">Role</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                  {{form.role}}
                  <!-- <select id="role" name="role" style="width:200px" class="form-control" multiple="multiple">
                      <option value=""></option>
                      <option value="Admin">Admin Operator</option>
                      <option value="Option_1">Option 1</option>
                      <option value="Option_2">Option 2</option>
                      <option value="Option_3">Option 3</option>
                  </select> -->
                  </div>
                <div class="clearfix"></div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Active<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    {{form.is_active}}
                  </div>
              </div>
             <div class="clearfix"></div>
             <br>

          </div> <!-- close tab prssentation -->

        </div>
      </div>

     <div class="modal-footer">
     <button class="btn btn-success" id="tambah" type="submit">Create</button>
     <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
      </div>
      </form>
    </div> <!-- close modal body -->
    </div> <!-- close modal content -->
  </div> <!-- close modal dialog -->
  </div> <!-- close model fade -->

  <!-- Modal Edit -->
  <div class="modal fade" id="editModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit User BO</h4>
      </div>  
    <div class="modal-body">

      <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Profile</a>
            </li>
            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Change Password</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="profile-tab">
              <br>
              <form action="{% url 'bo_edit' %}" enctype="multipart/form-data" method="post" class="form-horizontal form-label-left" novalidate>
                {% csrf_token %}
                <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Full Name<span class="required"></span></label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" id="nama_bo_edit" name="nama_bo_edit" required="required" class="form-control" required="required">
              </div>
          </div>
          <div class="clearfix"></div>
          <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="email" id="email_bo_edit" class="form-control" name="email_bo_edit" data-parsley-trigger="change" required />
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile Phone<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="tel" id="mp_bo_edit" data-validate-length-range="8,20" class="form-control" name="mp_bo_edit" required />
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Picture<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="file" name="pic" id="image-source4" onchange="previewImage4();">
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required"></span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <img id="image-preview_pp_2" alt="image preview"/>
                </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Password<span class="required"></span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="password" id="pass_bo_edit" class="form-control" name="pass_bo_edit" required />
                </div>
              </div>
              <div class="clearfix"></div>
              <br>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_label_multiple">Role</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                  <!-- <select class="js-example-basic-multiple js-states form-control" id="role_edit" multiple="multiple"> -->
                  <select id="role_edit" name="role_edit" style="width:200px" class="form-control" multiple="multiple">
                      <option value=""></option>
                      <option value="Admin">Admin Operator</option>
                      <option value="Option_1">Option 1</option>
                      <option value="Option_2">Option 2</option>
                      <option value="Option_3">Option 3</option>
                  </select>
                  </div>
                <div class="clearfix"></div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Deactive<span class="required"></span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="checkbox">
                  </div>
              </div>
              <div class="clearfix"></div>
              <br>
          </form>
                </div>

                <!-- start change password -->
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                <br>
                <form class="form-horizontal form-label-left" novalidate>
        <div class="item form-group">
          <label class="control-label col-md-2 col-sm-2 col-xs-12">Password<span class="required"></span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" id="password_edit" name="password_edit" required="required" class="form-control" value="">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>

        <div class="item form-group">
          <label for="password2" class="control-label col-md-2 col-sm-2 col-xs-12">Repeat Password</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="confirm_password_edit" type="password" name="confirm_password_edit" data-validate-linked="password_edit" class="form-control col-md-7 col-xs-12" required="required">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
      </form>
        </div>
                </div>
              </div>
            </div>


     <div class="modal-footer">
     <button class="btn btn-success" id="send" type="submit">Update</button>
     <button type="button" class="btn btn-default" data-dismiss="modal">Keluar</button>
      </div>
    </div> <!-- close modal body -->
    </div> <!-- close modal content -->
  </div> <!-- close modal dialog -->
  </div> <!-- close model fade -->
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- /page content -->
<script src="/static/assets/select/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#id_role').select2({
        dropdownParent: $('#addModal'),
        placeholder: "Select Role",
    });
    $('#role_edit').select2({
          dropdownParent: $('#editModal'),
          placeholder: "Select Role",
  });
});
</script>
<script type="text/javascript">
  $(document).ready(function () {
  $('#password_edit, #confirm_password_edit').on('keyup', function () {
    if ($('#password_edit').val() == $('#confirm_password_edit').val()) {
      $('#message').html('Matching').css('color', 'green');
    } else 
      $('#message').html('Not Matching').css('color', 'red');
  });
  });
</script>
<!-- script upload image addmodal -->
<script type="text/javascript">
  function previewImage3(ele) {
    document.getElementById("image-preview_pp").style.display = "block";
    var oFReader = new FileReader();
     oFReader.readAsDataURL(document.getElementById(ele).files[0]);

    oFReader.onload = function(oFREvent) {
      document.getElementById("image-preview_pp").src = oFREvent.target.result;
    };
  };
</script>
<!-- script upload image editmodal -->
<script type="text/javascript">
  function previewImage4() {
    document.getElementById("image-preview_pp_2").style.display = "block";
    var oFReader = new FileReader();
     oFReader.readAsDataURL(document.getElementById("image-source4").files[0]);

    oFReader.onload = function(oFREvent) {
      document.getElementById("image-preview_pp_2").src = oFREvent.target.result;
    };
  };
</script>
{% endblock %}
