{% extends 'backend/base_dashboard.html' %}
{% block sidebar %}
  {% include 'backend/sidebar.html' %}
{% endblock %}
{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
    </div>
  </div>
</div>
<div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Role Management</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a></li>
                <li><a href="#">Settings 2</a></li>
                  </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <form method="get">
          <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="input-group">
              <input type="text" name="query" id="search" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" style="background-color:#228B22" class="btn btn-primary" ><i class="fa fa-search"></i></button>
                </span>
            </div>
          </div>
          </form>

          <p align="right"><a href="#" style="background-color:#228B22" class="btn btn-round btn-primary" id="showadd" data-target='#addModal' data-toggle='modal' onclick="tes()"><i class="fa fa-plus"></i></a></p>


<br>
<table id="myTable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Role Name</th>
              <th>Description</th>
              <th>Menu</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
            <tbody>
            {% for role in user_role %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ role.name | title}}</td>
              <td>{{ role.description }}</td>
              <td>{% for menu in role.privilege.all %}
                    {{menu.name|title}}, 
                  {% endfor %}
              </td>
              <td>{% if role.is_active %}Active{% else %}Inactive{% endif %}</td>
              <td><a href="{% url 'role_edit' %}?pk={{ role.pk }}"><span class="fa fa-edit"></span></a></td>
              <td><a href="{% url 'role_remove' %}?pk={{ role.pk }}"><span class="fa fa-trash"></span></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

<!-- Pop Up Add Modal -->
      <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add New Role</h4>
            </div> 

          <form method="post"> 
          <div class="modal-body">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Role Name<span class="required"></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  {{ form.role_name }}
                </div>
            </div>
           <div class="clearfix"></div>
           <br>

           <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Description<span class="required"></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  {{ form.description }}
                </div>
            </div>
           <div class="clearfix"></div>
           <br>

           <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Is Active<span class="required"></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  {{form.is_active}}
                </div>
            </div>
           <div class="clearfix"></div>
           <br>

         <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Role<span class="required"></label>
          </div>
            {% csrf_token %}
          <div class="x_panel">
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="dashboard" > Dashboard
                  </label>
                </div>
                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="search_driver"> Search Driver
                  </label>
                </div>
                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="advertisement"> Advertisement
                  </label>
                </div>
                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left: 5px">
                  <button type="button" data-toggle="collapse" data-target="#pay_collapse" style="background-color:#228B22" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></button>
                  <label>
                    <input type="checkbox" id="selectall_payment" class="first"> Payment
                  </label>
                </div>
                  <!-- collapse payement -->
                  <div class="collapse" id="pay_collapse">  
                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" class="first" name="payment_list"> Payment List
                    </label>
                  </div>

                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" class="first" name="payment_bulk"> Payment Bulk
                    </label>
                  </div>
                <div class="clearfix"></div>
              </div>
                <!-- collapse payement -->

                <div class="checkbox" style="padding-left: 5px">
                  <button type="button" data-toggle="collapse" data-target="#loyality_management" style="background-color:#228B22" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i></button>
                  <label>
                    <input type="checkbox" id="selectall_loyality" class="second"> Loyality Management
                  </label>
                </div>
                <!-- collapse loyality -->
                  <div class="collapse" id="loyality_management">  
                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" name="option1" class="second"> Option 1
                    </label>
                  </div>

                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" name="option2" class="second"> Option 2
                    </label>
                  </div>
                <div class="clearfix"></div>
              </div>
                <!-- collapse loyality -->

                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="notification"> Notification
                  </label>
                </div>
                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="news"> News
                  </label>
                </div>
                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="street"> Street Other
                  </label>
                </div>
                <div class="clearfix"></div>

                <div class="checkbox" style="padding-left: 5px">
                  <button type="button" data-toggle="collapse" data-target="#md" style="background-color:#228B22" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i></button>
                  <label>
                    <input type="checkbox" id="selectall_md" class="third"> Master Data
                  </label>
                </div>
                <!-- collapse loyality -->
                  <div class="collapse" id="md">  
                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" name="bank" class="third"> Bank
                    </label>
                  </div>

                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" name="vehicle" class="third"> Vehicle
                    </label>
                  </div>

                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" name="religion" class="third"> Religion
                    </label>
                  </div>

                  <div class="checkbox" style="padding-left: 70px">
                    <label>
                      <input type="checkbox" name="wilayah" class="third"> Wilayah
                    </label>
                  </div>
                <div class="clearfix"></div>
              </div>
                <!-- collapse loyality -->           

                <div class="checkbox" style="padding-left: 5px">
                  <button type="button" data-toggle="collapse" data-target="#regis" style="background-color:#228B22" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i></button>
                  <label>
                    <input type="checkbox" id="selectall_regis" class="four"> Registration
                  </label>
                </div>
                  <!-- collapse regis -->
                    <div class="collapse" id="regis">  
                    <div class="checkbox" style="padding-left: 70px">
                      <label>
                        <input type="checkbox" name="agent" class="four"> Agent
                      </label>
                    </div>

                    <div class="checkbox" style="padding-left: 70px">
                      <label>
                        <input type="checkbox" name="driver" class="four"> Driver
                      </label>
                    </div>

                    <div class="checkbox" style="padding-left: 70px">
                      <label>
                        <input type="checkbox" name="advertiser" class="four"> Advertiser
                      </label>
                    </div>

                    <div class="checkbox" style="padding-left: 70px">
                      <label>
                        <input type="checkbox" name="business_op" class="four"> Business Operator
                      </label>
                    </div>
                  <div class="clearfix"></div>
                </div>
                  <!-- collapse regis -->
    
                <div class="checkbox" style="padding-left: 45px">
                  <label>
                    <input type="checkbox" name="role_management"> Role Management
                  </label>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>

            <div class="modal-footer">
             <button class="btn btn-primary" id="tambah" type="submit"><i class="fa fa-file"> Add</i></button>
             <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"> Close</i></button>
            </div>
          </form>
          </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}