
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
      <ul class="nav side-menu col-ms">
        <li><a href="/"><i class="fa fa-home"></i> Dashboard </a></li> 
        <li><a href="{% url 'campaign:report' %}"><i class="fa fa-book"></i> Report </a></li>
        <li><a href="#"><i class="fa fa-search"></i> Search Driver </a></li>
        <li><a href="/campaign"><i class="fa fa-money"></i> Advertisement </a></li>
        <li><a><i class="fa fa-paypal"></i> Payment <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#">Payment List</a></li>
              <li><a href="#">Payment Bulk</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-star"></i> Loyality Management <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> Notification </a></li>
        <li><a href="#"><i class="fa fa-newspaper-o"></i> News </a></li>
        <li><a href="#"><i class="fa fa-road"></i> Street Other </a></li>
        <li><a><i class="fa fa-book"></i> Master Data <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'payment:add_new' %}">Bank</a></li>
              <li><a href="{% url 'vehicle:add_new' %}">Vehicle</a></li>
              <li><a href="#">Region</a></li>
              <li><a href="#">Wilayah</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Registration <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#">Agent</a></li>
              <li><a href="{% url 'driver:regis_driver' %}">Driver</a></li>
              <li><a href="#">Advertiser</a></li>
              <li><a href="{% url 'regis_bo' %}">Business Operation</a></li>
            </ul>
        </li>
        <li><a href="/role"><i class="fa fa-cog"></i> Role Management </a></li>
      </ul>
  </div>
</div>
            <!-- /sidebar menu -->